*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    background-color: #f5f8ff;
}
/* Navbar design */

.navbar-items{
    background-image: url('Assets/Hero-bg.png');
}
.navbar-item{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 40px;
    
}

.navbar-logo{
    color:#4E47FF;
    font-weight: bold;
    font-size: 2rem;;
}

.navbar-button{
    background-color:#4E47FF;
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}

/* Heading design */

.heading-info{
    text-align:center;
    padding: 50px 20px;

}

.heading-header{
    font-size: 3rem;
    margin-bottom:20px;
}
.heading-button{
    background-color:#4E47FF;
    color:white;
    padding: 10px 20px;
    border-radius: 10px; 
    border:none;
    cursor: pointer;
}

/* Heading section here */

.explore-items{
    padding: 30px 40px;
    display:flex;
    justify-content: space-between;
}

.explore-heading{
    font-size: 30px;
}

.explore-para{
    padding-bottom: 15px;
}

.hero1{
    padding:30px;
}
.explore-button{
    background-color:#4E47FF;
    color:white;
    padding: 10px 20px;
    border-radius: 10px; 
    border:none;
    cursor: pointer;
}

.explore-image{
    width:360px;
    height:300px;
    border-radius: 15px;
    border:none;
}

/* visitor details */
.visitor-details{
    text-align:center;
    background-color: #dbe0ff;
    width:1140px;
    height:200px;
    margin: 50px auto;
    border:none;
    border-radius: 10px;;
}
.visitor-heading{
    padding:20px;
    font-size: 25px;
}
.visitor-parents{
    display:flex;
    justify-content: center;
    gap: 60px;
    padding:15px;
}

.number{
    color:#4E47FF;
    font-size:35px;
    font-weight: bold;
}
.details{
    font-size:12px;
}

/* customer-rating */
.rating-heading{
    padding:20px;
    text-align: center;
}
.rating-customer{
    text-align:center;
    display:flex;
    justify-content:space-around;
}


.box-body{
    background-color:white;
    width:366px;
    height:243px;
    border-radius: 10px;
    border:none;
    text-align: left;
    padding: 15px 20px;
}

.start{
    padding: 10px;
}

.box-heading{
    padding:10px;
}
.box-para{
    padding:10px;
}
.reviewer-details{
    display:flex;
    justify-content:last baseline;
    gap:10px;
}
.picture{
    padding:10px;
}
.picture-size{
    border-radius: 50%;
    border:none;
}

/* Upgrade section */

.upgrade-box{
    background-color: #ffffff;
    width:1140px;
    height:650px;
    margin: 50px auto;
    border-radius: 15px;
    border:none;
    padding: 30px;
}

.upgrade-details{
    text-align: center;
    padding: 20px;
}
.upgrade-header{
    font-size:50px;
}

.upgrade-para{
    padding: 20px;
}
.upgrade-button{
    background-color:#4E47FF;
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}
.upgrade-images{
    display:flex;
    justify-content: center;
}
.upgrade-image{
    width:840px;
    height:365px;
    border-radius: 20px;
}

/* contact-information */
.contact-info{
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;

}

.contact-header{
    font-size: 30px;
    padding:30px;
    color:#333;
}

.contact-box {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.details {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: border 0.3s;
}

input:focus,
textarea:focus {
  border-color: #7f8bff;
  outline: none;
}

.box-button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #4c5cff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width:100%;
}

.footer-design{
    background-color: #ffffff;
    text-align:center;
    padding:30px;

}

.footer-heading{
    color:#4E47FF;
    font-weight: bold;
    font-size: 40px;
}

.footer-para{
    font-size:20px;
    white-space: normal;
    text-wrap: wrap;
}

.footer-design ul{
    display:flex;
    justify-content: center;
    gap: 30px;
    font-size:20px;
}
.footer-option ul li{
    list-style: none;
    padding: 20px;
}

.footer-option li a{
    text-decoration: none;
    color:#333;
}